body {
    --color1: #FADD22;
    --color2: #44AA33;
    --color3: #FF5511;
    --myBlack: #112211; 
    --myWhite: #EEEEDD; 
}

.bg1, .myWhite-bg { color: var(--myBlack); }
.bg2, .bg3, .myBlack-bg { color: var(--myWhite); }

.navLogo {
    height: 5rem;
    width: 5rem;
}

/* SCROLLBAR */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--myBlack) var(--myWhite);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: repeating-linear-gradient(
        45deg,
        var(--color2),
        var(--color2) 1px,
        var(--color1) 2px,
        var(--color1) 3px,
        var(--color2) 4px
    );
  }

  *::-webkit-scrollbar-thumb {
    border: 8px outset var(--color1);
  }

